---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <li>
          <a href="#{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% if category[1].size == i %}
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ category[0] }}</h2>
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% for post in category.last %}
            {% include archive-single.html type=page.entries_layout %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}


<h1>Projects by Category</h1>

{% assign project_posts = site.projects | tagged %}

{% assign categories =  project_posts | map: 'category' | join: ','  | split: ',' | uniq | sort %}

<ul class="taxonomy__index">
  {% for category in categories %}
    <li>
      <a href="#{{ category | slugify }}">
        <strong>{{ category }}</strong>
      </a>
    </li>
  {% endfor %}
</ul>

{% for category in categories %}
  <section id="{{ category | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category }}</h2>
      <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for post in project_posts %}
        {% if post.categories contains category %}
        <div class="{{ include.type | default: "list" }}__item">
        <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
          <h2 class="archive__item-title" itemprop="headline">
            <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
          </h2>
          <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
        </article>
        </div>
        {% endif %}
      {% endfor %}
      </div>
      <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}