---
layout: archive
---
{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<h1 class="archive-single">{{ site.author.name }}</h1>

<section class="page__content" itemprop="text">
{{ site.author.about }}
</section>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Selected Papers" }}</h3>

{% for post in paginator.posts %}
	{% include archive-single.html %}
{% endfor %}

{% include paginator.html %}