---
layout: archive
---
{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<h1 class="archive-single">{{ site.author.name }}</h1>

<section class="page__content" itemprop="text">
{{ site.author.about }}
</section>

{% if author.avatar %}
	<div class="author__avatar sidebar__right">
		{% if author.avatar contains "://" %}
			{% assign author_src = author.avatar %}
		{% else %}
			{% assign author_src = author.avatar | relative_url %}
		{% endif %}

		{% if author.home %}
			{% if author.home contains "://" %}
				{% assign author_link = author.home %}
			{% else %}
				{% assign author_link = author.home | relative_url %}
			{% endif %}
			<a href="{{ author_link }}">
				<img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
			</a>
		{% else %}
			<img src="{{ author_src }}" alt="{{ author.name }}" itemprop="image">
		{% endif %}
	</div>
{% endif %}


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Selected Papers" }}</h3>

{% for post in paginator.posts %}
	{% include archive-single.html %}
{% endfor %}

{% include paginator.html %}